<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latif Real Estate</title>
    <link rel="stylesheet" href="/static/CSS/style.css">
    <link rel="stylesheet" href="/static/CSS/utils.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <header>
        <nav>
            <div class="logo"><img src="/static/images/img 5.jpg" alt="logo"></div>
            <div>
                <ul>
                    <li><a href="/"><i class="fa fa-home"></i> <b>Home</b> </a></li>
                    <li><a href="/about-us"><b>About Us</b></a></li>
                    <li><a href="/contact-us"><b>Contact Us</b></a></li>
                </ul>
            </div>
        </nav>

    </header>
    <hR color="grey" size="5px">
    </hR>
    {% block content %}










    {% endblock %}



<div class="end">

    <div class="end-logo">
        <img src="/static/images/img 2.jpg" alt="">
        <!-- width="450px" height="275px"> -->
        <div class="discription">
            <p>
                Latif Group Consultants is a growing real estate company in Islamabad Pakistan. It is among
                the
                topmost trustful realtors in the market. Our Head office in Rawalpindi Bahria town and
                Corporate
                Office in Lahore, and Peshawar.
            </p>
        </div>
    </div>


    <div class="end-logo">
        <h3> <u>LINKS </u></h3>


        <div class="my-3">
            <ul>
                <li class="text"><a href="/"><i class="fa fa-home"></i> Home</a> </li>
                <li class="text"><a href="/about-us">About</a> </li>
                <li class="text"><a href="/contact-us"> Contact</a> </li>
            </ul>
        </div>
        <h3> <u>SOCIAL </u></h3>
        <div class="social">
            <i class="fa fa-facebook-square"></i>
            <a href="https://www.linkedin.com/in/arfan-abid-152217270/" target="_blank"><i
                class="fa fa-linkedin"></i></a>

        </div>
    </div>
    <div class="end-logo">
        <h3><u>Contact Information:</u></h3>
        <div class="my-4">
            <p>
                <i class="fa fa-map-marker"></i> Office # 1nd & 2rd Floor Plaza No 38,  Ali Town commercial,Adyala Road Rawalpindi
            </p>
            <p>

                <i class="fa fa-phone-square"></i> Phone: +92 3030761309
            </p>
            <p>
                <i class="fa fa-envelope-square"></i> info@Latifgroup.com
            </p>
        </div>
    </div>

</div>
</div>


</div>

</div>






</div>




</div>


</main>

<footer class="flex-All-center">

<p> Copyright&copy;2018-All rights reserved.Developed by<a href="/"> Latif Group </a> <i
    class="fa fa-spinner fa-spin"></i> </p>
</footer>

</body>

</html>