{% extends "base.html" %}
{% block content %}
<main>
    <div class="container">

        <div class="heading">
            <h1> Who We Are</h1>
            <br>
            <h2>Latif Group Consultant </h2>
        </div>
        <div class="para1">
            <p> Latif Group Consultants, a flourishing real estate company based in Pakistan, serves as the authorized
                sales partner for multiple premier residential and commercial projects in the country. These projects
                collectively generate annual sales surpassing 10 billion. With a clientele of over 25,000 satisfied
                customers worldwide, the company is owned by the esteemed Arfan Abid , a renowned Pakistani real estate
                YouTuber.

                Renowned for its transparent business transactions and exceptional post-sale services, Latif Group
                maintains an exemplary reputation in both local and international markets. The company's core mission
                centers around providing the best possible after-sales experience. Latif Group Consultants proudly holds
                the distinction of being the top sales partner for notable ventures such as Capital Smart City, Lahore
                Smart City, Park View City Islamabad, Zeta 1 Mall, Blue World City, New Metro City, Rudn Enclave, and
                several other distinguished real estate projects.
                <br><br>
                Additionally, we successfully completed the delivery of 100% of the Rose Valley housing project's plots
                in Rawalpindi within a year of the project's booking, keeping our word and establishing our confidence.
                By reviewing all of the Latif Group's prior work records and experience, we can promise you that,
                insha'Allah, we will uphold all of our pledges in full. Latif Group also owns a number of real estate
                developments, including River View Heights in Bahria Town, Rawalpindi, and a forthcoming residential
                project in Muree. Latif Group is active in the country of Pakistan's real estate market.
                <br>
                <img src="/static/images/img 6.jpg" alt="">
                <!-- width=400px; height="315px"> -->

            </p>
        </div>
        <div class="heading">
            <h2>Our Service</h2>
        </div>
        <div class="para2">
            <p>
                We will give After Sales Services to our Beloved Clients. As your Plan Runs our Company Provides you
                services till the end of your plot installments. Because we treat our clients as a Family of “LATIF
                GROUP”
            </p>
        </div>

        <div class="heading">
            <h2>Why prefer Latif Group Consultant For Real Estate </h2>
        </div>
        <div class="para3">
            <p>
                This is one of the most important questions that people must have in their minds. So, the simple
                answer
                is we work professionally and we believe in transparent and trustful dealings. We always offer the
                best
                deals to our clients and work properly to cater to the needs of every investor.

                We understand that real estate investment in Pakistan is one of the major decisions in life, which
                one
                would ever make. So, we care about it. Therefore, Latif Group Consultants consider providing the
                best
                real estate consultancy services to our honorable clients. To know more ABOUT US.
            </p>
        </div>
        <div class="heading">
            <h2> Latest Projects:</h2>
        </div>

        <div class="box">

            <div class="items">
                <img src="/static/images/img 11.jpg">
                <!-- width="200px" height="200px"> -->
                <div class="lines">
                    <p class="lines-center"> <b>Blue World City |</b></p>
                    <p class="lines-center"> <b>Islamabad|Overviwe</b></p>
                    <p class="lines-center"> <b>plans|Allotments</b></p>
                </div>
            </div>
            <div class="items">
                <img src="/static/images/img 12.webp" width="200px" height="200px">
                <div class="lines">
                    <p class="lines-center"> <b>Faisal Hills |</b></p>
                    <p class="lines-center"> <b>Islamabad|Overviwe</b></p>
                    <p class="lines-center"> <b>plans|Allotment</b></p>
                </div>
            </div>
            <div class="items">
                <img src="/static/images/img 13.jpeg" width="200px" height="200px">
                <div class="lines">
                    <p class="lines-center"> <b>CapitalSmart City |</b></p>
                    <p class="lines-center"> <b>Rawalpindi|Overviwe</b></p>
                    <p class="lines-center"> <b>plans|Allotments</b></p>
                </div>
            </div>
            <div class="items">
                <img src="/static/images/img 14.jpg" width="200px" height="200px">
                <div class="lines">
                    <p class="lines-center"> <b>New Metro City |</b></p>
                    <p class="lines-center"> <b>Gujar Khan|Overviwe</b></p>
                    <p class="lines-center"> <b>plans|Allotments</b></p>
                </div>
            </div>




        </div>

        {%endblock%}